.Shows {
    border:solid 2px black;
    margin: 10px;
    width: fit-content;
    background-color: black;
    border-radius: 10px;
}



.img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.Font-link{
    font-family: 'Rajdhani', sans-serif;
    font-size: x-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.Buttons-tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.Button{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-family: 'Rajdhani', sans-serif;
    font: bolder;
}

.Button:hover{
    background-color: grey;
}

.Review{
    color: black;
    font-family: 'Rajdhani', sans-serif;
    inline-size: 250px;
    overflow-wrap: break-word;
    /* border: 1px solid grey; */
    background-color: grey;
    border-radius: 5px;
}
.Review-tab{
    color: white;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: underline;
    margin-left: 5px;
    margin-top: 5px;
}
.Edit-Delete{
    background-color: white;
    border: 1px solid black;
    color: black;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-family: 'Rajdhani', sans-serif;
    font: bolder;
}
.Edit-Delete:hover{
    background-color: grey;
}

.Input-Review{
    border: none;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    border: 1px solid black;
}